:root{
    --cor-primaria: hsl(75, 94%, 57%);
    --cor-branca:  hsl(0, 0%, 100%);
    --cor-cinza: hsl(0, 0%, 20%);
    --cor-cinza-escuro: hsl(0, 0%, 12%);
    --off-black:  hsl(0, 0%, 8%)

}

